.project
.cproject
.settings/
.vs/
*.mt
*.wkt
*.o
*.off
*.out
build/
/Default/
*.OFF
*.x
*.raw
*.autotools
*.sln
*.vcxproj*
*.dt
*.sql
*.log
*.png
*.csv
result.txt
gen.log
qec_*
nuclei_data_*
nuclei_*.off
*.orig
src/.cache/
src/build/
.cache/
